//正常情况样式
.app-container {
  @include clearfix;
  width: 100%;
  height: 100%;
  position: relative;
  // 移动设备菜单栏遮罩样式
  & .mask{
    background-color:#000;
    opacity: 0.3;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    z-index: 999;
  }
}

