@import './element-variables.scss';
@import "./variables.scss";
@import "./mixin.scss";
@import "./scrollbar.scss";
@import "./app.scss";
@import "./sidebar.scss";
@import './logo.scss';
@import "./navbar.scss";
@import "./main.scss";
@import "./tags.scss";
@import "./views.scss";
@import "./settings.scss";
@import "./transition.scss";
html {
  height: 100%;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}
#app {
  height: 100%;
  box-sizing: border-box;
}
#nprogress .bar {
  background: rgb(103, 199, 65) !important; //自定义颜色
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}
